<div class="container d-flex justify-content-center vh-100">
    <div style="width: 80%;">
        <h3 class="my-3 text-center">{{employee.firstName}} Details</h3>
        <table class="table table-bordered table-striped table-hover table-primary" style="width: 100%;">
            <tbody>
                <tr class=" text-light ">
                    <td class="fw-bold">Id</td>
                    <td>{{employee.id}}</td>
                </tr>
                <tr class=" text-light">
                    <td class="fw-bold">First Name</td>
                    <td>{{employee.firstName}}</td>
                </tr>
                <tr class=" text-light">
                    <td  class="fw-bold">Last Name</td>
                    <td>{{employee.lastName}}</td>
                </tr>
                <tr class=" text-light">
                    <td class="fw-bold" >Email Id</td>
                    <td>{{employee.emailId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
